<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Custom fonts for this template-->
		<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

		<!-- Custom styles for this template-->
		<link href="css/sb-admin.css" rel="stylesheet">

	</head>

	<body class="bg-dark">

		<div class="container">
			<div class="card card-login mx-auto mt-5">
				<div class="card-header">비밀번호 변경</div>
				<div class="card-body">
					<div class="text-center mb-4">
						<p>변경할 비밀번호를 입력해주세요.</p>
					</div>
					<form th:action="@{/pwEdit}" method="POST">
						<div th:if="${param.match}">
							<div class="alert alert-info">
								Passwords do not match! Please check again.
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="password" id="inputPassword" name="userPw" class="form-control" placeholder="Password" required="required">
										<label for="inputPassword">비밀번호</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="password" id="confirmPassword" name="confirmPw" class="form-control" placeholder="Confirm password" required="required">
										<label for="confirmPassword">비밀번호 확인</label>
									</div>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary btn-block">비밀번호 변경</button>
					</form>
					<div class="text-center">
						<a class="d-block small mt-3" href="information.html">이전으로</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript-->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	</body>

</html>

